# Default
*.code-workspace
.idea/
.vscode/

# Test
test*
test/

# Composer
vendor/

# Project
secrets/
!secrets/.gitkeep
env_const.php
another_close.php
.env
.htpasswd

# Project logs
project_logs/*
!project_logs/.gitkeep

# DB
project_database/*
!project_database/.gitkeep

# Docker logs
docker_logs/*
!docker_logs/.gitkeep
